.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-contenido {
  flex: 1;
  padding-top: 73px;
}

@media (max-width: 640px) {
  .app-contenido {
    padding-top: 65px;
  }
}
