<div class="home-entero">

  <div class="hero">
    <h1>{{ 'home.examples' | translate }}</h1>
    <p>{{ 'home.description' | translate }}</p>
  </div>

  <div class="grid-proyectos">

    <button routerLink="/portfolio" class="tarjeta">
      <h2>{{ 'home.portfolio.title' | translate }}</h2>
      <p>{{ 'home.portfolio.description' | translate }}</p>
    </button>

    <button routerLink="/informativa" class="tarjeta">
      <h2>{{ 'home.informative.title' | translate }}</h2>
      <p>{{ 'home.informative.description' | translate }}</p>
    </button>

    <button routerLink="/ecommerce" class="tarjeta">
      <h2>{{ 'home.ecommerce.title' | translate }}</h2>
      <p>{{ 'home.ecommerce.description' | translate }}</p>
    </button>

    <button routerLink="/dashboard" class="tarjeta">
      <h2>{{ 'home.dashboard.title' | translate }}</h2>
      <p>{{ 'home.dashboard.description' | translate }}</p>
    </button>

    <button routerLink="/blog" class="tarjeta">
      <h2>{{ 'home.blog.title' | translate }}</h2>
      <p>{{ 'home.blog.description' | translate }}</p>
    </button>

    <button routerLink="/landing" class="tarjeta">
      <h2>{{ 'home.landing.title' | translate }}</h2>
      <p>{{ 'home.landing.description' | translate }}</p>
    </button>

    <button routerLink="/reservas" class="tarjeta">
      <h2>{{ 'home.reservations.title' | translate }}</h2>
      <p>{{ 'home.reservations.description' | translate }}</p>
    </button>

    <button routerLink="/saas" class="tarjeta">
      <h2>{{ 'home.saas.title' | translate }}</h2>
      <p>{{ 'home.saas.description' | translate }}</p>
    </button>

  </div>

</div>
