/* FOOTER */

.footer-entero {
  width: 100%;
  border-top: 1px solid #e5e7eb;
  background: #fff;
}

.footer-alineacion {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.marca {
  font-weight: 600;
}

.copyright {
  color: #6b7280;
}

@media (max-width: 768px) {
  .footer-alineacion {
    flex-direction: column;
    text-align: center;
  }
}
