<!-- Esto es el footer, lo que sale abajo en una web -->
<div class="footer-entero">
  <div class="footer-alineacion">

    <div class="marca">
      <div>{{ 'footer.brand' | translate }}</div>
    </div>

    <div class="navegacion">
      <div>{{ 'header.nav.nav1' | translate }}</div>
      <div>{{ 'header.nav.nav2' | translate }}</div>
      <div>{{ 'header.nav.nav3' | translate }}</div>
      <div>{{ 'header.nav.nav4' | translate }}</div>
    </div>

    <div class="anyo">
      <div>{{ 'footer.year' | translate }}</div>
    </div>

  </div>
</div>
