<header class="header-entero">
  <div class="header-alineacion">

    <a routerLink="/" class="logo-hueco">
      <img ngSrc="/img/logo.png" alt="Logo" height="768" width="927">
      <span>{{ 'header.logo' | translate }}</span>
    </a>

    <nav class="navegacion">
      <a routerLink="/">
        {{ 'header.nav.home' | translate }}
      </a>

      <a routerLink="/">
        {{ 'header.nav.examples' | translate }}
      </a>
    </nav>

    <button
      type="button"
      class="idioma-btn"
      (click)="toggleLanguage()">
      {{ currentLang === 'es' ? 'ES' : 'EN' }}
    </button>

  </div>
</header>
