<!-- Esto es el header, lo que sale arriba en una web -->
<div class="header-entero">
  <div class="header-alineacion">

    <div class="logo-hueco">
      <div class="logo-image">
        <img src="/img/logo.png" alt="Logo">
      </div>

      <div class="logo-text">
        <div>{{ 'header.logo' | translate }}</div>
      </div>
    </div>

    <div class="navegacion">
      <div>{{ 'header.nav.nav1' | translate }}</div>
      <div>{{ 'header.nav.nav2' | translate }}</div>
      <div>{{ 'header.nav.nav3' | translate }}</div>
      <div>{{ 'header.nav.nav4' | translate }}</div>
    </div>

    <div class="anyo">
      <div>{{ 'header.year' | translate }}</div>
    </div>

    <div class="idioma">
      <button type="button" (click)="toggleLanguage()">
        {{ currentLang === 'es' ? 'EN' : 'ES' }}
      </button>
    </div>

  </div>
</div>
